.cont {
  display: grid;
  width: 100%;
  place-items: center;
  padding-top: 40px;
}

.head {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.head::after {
  content: "";
  position: absolute;
  bottom: -15px; 
  width: 25%;
  height: 5px; 
  background-color: #fa621a; 
  border-radius: 3px;
}

.heading { 
  font-size: 2.5rem;
  font-weight: 600;
  display: flex;
  text-align: center;
  justify-content: center;
}
.text {
  font-weight: 600;
  margin: 0;
}


.orange {
  color: #fa621a;
}

.bottom {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 40px;
}

.serviceItem {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  display: grid;
  place-items: center;
  gap: 1rem;
  border-radius: 22px;
}

.image {
  width: 100%;
  height: auto;
}

.name {
  all: unset;
  font-size: 20px;
  transition: all 0.3s;
  font-weight: 500;
}

.desc {
  all: unset;
  text-align: center;
  font-size: 14px;
  transition: all 0.3s;
}

.arrow {
  font-size: 20px;
  transition: all 0.3s;
  cursor: pointer;
}

.serviceItem:hover .arrow {
  transform: translateY(-10px);
}

.serviceItem:hover .name {
  transform: translateY(-10px);
}

.serviceItem:hover .desc {
  transform: translateY(-10px);
}

.bottomCarousal {
  display: none;
}
.mobileEllipsis {
  display: none;
 
}

@media screen and (max-width: 1200px) {
  .bottom {
    grid-template-columns: 1fr;
    width: 60%;
    display: none;
  }
  
  .bottomCarousal {
    display: block;
  }
  .head::after {
  
  width: 65%; 
  
}
}

@media screen and (max-width: 560px) {
  .text {
    text-align: center;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
  }
  
  .serviceItem{
    margin: 0px 15px;
    margin-top: 10px;
  }
  
  .bottom {
    width: 80%;
  }
  .head::after {
  
  width: 65%; 
  
}
}
@media screen and (max-width: 768px) {

  .heading{
    font-size: 25px;
  }

  .desc{
    justify-content: justify;
  }
  .head::after {
  
  width: 65%; /* length of underline */
  
}

 
  
}

@media screen and (max-width: 700px) {
  .head {
    
    text-align: center; /* center text */
    margin-bottom: 0px;
    position: relative;
  }

  .head::after {
    display: none; /* hide underline */
  }
  .heading1{
    margin-bottom: 0%;
  }
  .heading2{
    margin-bottom: 0%;
  }

  .mobileEllipsis {
    display: block;           
    text-align: center;           
    font-size: 20px;             
  }
  
  .head {
    flex-direction: column;      
    align-items: center;          
  }
}