.cont {
  margin-top: 20px;
  display: grid;
  place-items: center;
  justify-content: center;
  align-self: center;
}

.head {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  position: relative;
  /* margin-bottom: 40px; */
}

.head::after {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 25%;
  height: 5px;
  background-color: #fa621a;
  border-radius: 3px;
}

 .heading1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6rem;
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-top: 0%;
  margin-top: 40px;

}

.heading2 {
  color: #fa621a;

}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-content: center;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
}

.item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  place-items: center;
  width: 90%;
  gap: 2rem;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;

  transition: all 0.3s;
}

.item:hover {
  border-color: #5291ca;
}

.selected {
  transition: all 0.3s;
}

.item:hover .selected {
  color: #5291ca;
  border-color: #5291ca;
}

.imageCont {
  border-radius: 50%;
  display: grid;
  place-items: center;
  align-self: center;
  /* width: 80px; */
  /* height: 80px; */
}

.name {
  font-size: 20px;
  align-self: baseline;
  color: black;
}

.desc {
  color: black;
  font-size: 14px;
}
.mobileEllipsis {
  display: none;
  margin-bottom: 25px;
 
}

@media screen and (max-width: 1200px) {
  .item {
    padding: 0px 20px;
    grid-template-columns: 1fr;
    place-items: center;
    padding-bottom:0px;
    gap:0rem;
  }
  .name {
    text-align: center;
  }
  .desc {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .imageCont {
    font-size: 15px;
  }
  .name {
    font-size: 10px;
  }
  .desc {
    font-size: 6px;
  }
}
@media screen and (max-width: 470px) {
  

.cont {
  margin-top: 10px;
  display: grid;
  place-items: center;
  justify-content: center;
}

  .name {
    font-size: 20px;
    align-self: baseline;
    color: black;
  }

  .list {
    grid-template-columns: 1fr;
    width: 90%;
    gap:0rem;
    place-items: center;
  }

  .desc {
    color: black;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {

  .heading1, .heading2{
    font-size: 25px;
    margin-bottom: 20px;
  }
  .list {
    grid-template-columns: 1fr;
    width: 90%;
    gap:0rem;
    place-items: center;
  }
  .name{
    font-size: 18px;
  }

  .desc {
    color: black;
    font-size: 16px;
  }

  
}


@media screen and (max-width: 700px) {
  .head {
    display: block; 
    text-align: center; 
    margin-bottom: 0px;
    position: relative;
  }

  .head::after {
    display: none; /* hide underline */
  }
  .heading1{
    margin-bottom: 0%;
  }
  .heading2{
    margin-bottom: 0%;
  }

  .mobileEllipsis {
    display: block; 
    text-align: center; 
    font-size: 20px; 
  }
}
