.cont {
  margin-top: 40px;
  display: grid;
  place-items: center;
  justify-content: center;
}

.head {
  display: flex;
  gap: 0.7rem;
}

.heading1 {
  font-size: 35px;
}

.heading2 {
  font-size: 35px;
  color: #fa621a;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  align-content: center;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
}

.item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  place-items: center;
  width: 90%;
  gap: 2rem;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;

  /* border-style: none none solid none; */
  transition: all 0.3s;
}

.item:hover {
  border-color: #5291ca;
}

.selected {
  transition: all 0.3s;
}

.item:hover .selected {
  color: #5291ca;
  border-color: #5291ca;
}

.imageCont {
  border-radius: 50%;
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
}

.name {
  font-size: 20px;
  align-self: baseline;
  color: black;
}

.desc {
  color: black;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .item {
    padding: 0px 20px;
    grid-template-columns: 1fr;
    place-items: center;
    padding-bottom:0px;
    gap:0rem;
  }
  .name {
    text-align: center;
  }
  .desc {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .imageCont {
    font-size: 15px;
  }
  .name {
    font-size: 10px;
  }
  .desc {
    font-size: 6px;
  }
}
@media screen and (max-width: 470px) {
  

.cont {
  margin-top: 10px;
  display: grid;
  place-items: center;
  justify-content: center;
}

  .name {
    font-size: 20px;
    align-self: baseline;
    color: black;
  }

  .list {
    grid-template-columns: 1fr;
    width: 90%;
    gap:0rem;
    place-items: center;
  }

  .desc {
    color: black;
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {

  .heading1, .heading2{
    font-size: 25px;
  }
  .list {
    grid-template-columns: 1fr;
    width: 90%;
    gap:0rem;
    place-items: center;
  }
  .name{
    font-size: 18px;
  }

  .desc {
    color: black;
    font-size: 16px;
  }

  

  /* .bottom {
    font-size: 14px;
  } */
  
}