.cont {
  display: grid;
  /* width: 100%; */
  width: auto;
  place-items: center;
  padding-top: 40px;
  background-color: #f6f7fb;
  padding-bottom: 40px;
}

.head {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.head::after {
  content: "";
  position: absolute;
  bottom: -15px; 
  width: 25%; 
  height: 5px; 
  background-color: #fa621a; 
  border-radius: 3px;
}
.heading {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  font-weight: bold;
  
}


.orange {
  color: #fa621a;
}

.bottom {
  /* display: grid; */
  width: 70%;
  margin-top:25px;
  place-items: center;
}

.list {
  display: grid;
  gap: 1rem;
}

.item {
  width: 100%;
  background-color: white;
  box-shadow: rgba(17, 23, 12, 0.2) 0px 6px 2px -5px;

  padding: 0px 28px;
  border-radius: 16px;
  cursor: pointer;
  position: relative;
  
}

.ques {
  font-size: 20px;
  text-align: left;   /* ✅ text center */
  /* padding: 0px; */
  margin-top: 20px;
}
.mobileEllipsis {
  display: none;
 
}
.ans {
  font-size: 16px;
  animation: open 0.5s forwards ease-in;
  overflow: hidden;
  margin: 0;
  margin-bottom: 20px;
}

.rightIndicator {
  position: absolute;
  right: 20px;
  top: 15px;
}

.active {
  color: #fa621a;
}

@keyframes open {
  0% {
    height: 0;
  }
  33% {
    height: 25px;
  }
  66% {
    height: 50px;
  }
  100% {
    height: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .item {
    padding: 0;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    justify-content: center;
  }

  .ans {
    font-size: 16px;
    text-align: justify;
    max-height: auto;
    overflow-y: auto;  
  }

  .ques {
    font-size: 16px;
    text-align: left;
  }

  .rightIndicator {
    top: 8px;
    display: none;
  }
}

@media screen and (max-width: 768px) {

  .heading{
    font-size: 25px;
  }

}

@media screen and (max-width: 700px) {
  .head::after {
    display: none;
  }
  .mobileEllipsis {
    display: block;
  }
  .heading{
    margin-bottom: 0%;
  }
  .head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0px;
  position: relative;
}
}

@media screen and (max-width: 480px) {
  .item {
    width: 100%;
    margin: 0;          /* edges se chipka */
    box-sizing: border-box;
    padding: 5px 16px;  
    justify-content: center;
    
  }
}
