.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: sans-serif;
}

/* Header */
.header {
  background-color: #ffffff;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoutButton {
  background-color: #ef4444;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Container for sidebar + main */
.container {
  display: flex;
  flex: 1;
}

/* Sidebar */
.sidebar {
  width: 230px;
  background-color: #f5f6f8;
  color: black;
  padding: 1rem;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navList li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 1.5rem 0;
  cursor: pointer;
  font-size: 16px;
}

/* Main Content */
.mainContent {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  background-color: #f9fafb;
}

.card {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  height: 100px; /* Reduced height */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
