.cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin: auto;
  place-items: center;
  min-height: 60vh;
  padding: 5vw 0;
}

.imageCont {
  width: 100%;
}

.image {
  width: 90%;
  height: auto;
  object-fit: cover;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff4e2;
  padding: 0px 20px;
  height: 45vh;
  width: 100%;
  border-radius: 20px;
}

.form {
  display: grid;
  place-items: center;
  gap: 2rem;
  width: 100%;
}

.heading {
  margin: 0;
  padding: 0 25%;
  font-size: 20px;
  text-align: center;
  color: #584525;
}

.bold {
  font-size: 25px;
}

.input {
  width: 70%;
  padding: 20px 20px;
  border-radius: 10px;
  border: 1px solid #d2cdc4;
}

.button {
  all: unset;
  width: 70%;
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #ff5631;
  color: white;
  cursor: pointer;
}

/* Tablet and Mobile (<= 1024px) */
@media screen and (max-width: 1024px) {
  .cont {
    display: flex;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: auto;
    place-items: center;
    min-height: 30vh;
    padding: 3vw 0;
  }

  .imageCont {
    display: none;
  }

  .bottom {
    width: 100%;
    padding: 20px;
    height: auto;
    margin-top: 2rem;
  }

  .heading {
    padding: 0 10%;
    font-size: 18px;
  }

  .bold {
    font-size: 22px;
  }

  .input,
  .button {
    width: 90%;
    padding: 15px 20px;
  }
}

/* Small Mobile (<= 480px) */
@media screen and (max-width: 480px) {
  .heading {
    padding: 0 5%;
    font-size: 16px;
  }
  

  .bold {
    font-size: 20px;
  }

  .input,
  .button {
    width: 95%;
    padding: 14px 16px;
  }
}
