.pageContainer {
  padding: 20px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableWrapper {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.viewBtn {
  background: orangered;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.textSection {
  margin-top: 20px;
}

.textArea {
  width: 100%;
  height: 260px;
}
.tableHeading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #111827;
}

.cellEdit {
  display: flex;
  gap: 6px;
  align-items: center;
}

.editIcon {
  cursor: pointer;
  color: orangered;
}

.editInput {
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.verifyBtn {
  margin-left: 8px;
  background: orangered;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.verifyBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
