.carousel {
  display: grid;
  place-items: center;
  width: 100%;
  /* height: 600px; */
  margin: 0;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); */
}

.imageWrapper {
  width: 100%;
}

.image {
  border-radius: 16px;
  width: 100vw;
  /* object-fit: fill; */
  /* height: 600px; */
  height: auto;
}

.navButton {
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 30px 10px;
  cursor: pointer;
  z-index: 2;
  display:none;
}



.navButton:hover {
  background-color: rgba(246, 246, 246, 0.4);
  color: black;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

.indicators {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.activeDot {
  background-color: white;
}
@media screen and (max-width: 1000px) {
  .navButton {
    padding: 10px 4px;
  }
}
/* 
@media screen and (max-width: 1000px) {
  .carousel {
    height: 400px;
  }
  .image {
    height: 400px;
  }
}
@media screen and (max-width: 700px) {
  .carousel {
    height: 300px;
  }
  .image {
    height: 300px;
  }
}
@media screen and (max-width: 500px) {
  .carousel {
    height: 200px;
  }
  .image {
    height: 200px;
  }
}
@media screen and (max-width: 400px) {
  .carousel {
    height: 150px;
  }
  .image {
    height: 150px;
  }
} */
