/* Main Wrapper */
.wrapper {
  padding: 40px 20px;
  font-family: "Poppins", sans-serif;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* Loading / Error / No data */
.loading,
.noData {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #777;
}

.error {
  text-align: center;
  color: red;
  font-size: 18px;
  margin-top: 20px;
}

/* Table Wrapper */
.tableWrapper {
  width: 100%;
  overflow-x: auto;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px;
}

.table thead tr {
  background: #f5f7fa;
  color: #333;
  font-weight: 600;
}

.table th,
.table td {
  padding: 16px 20px;
  border-bottom: 1px solid #e6e6e6;
  white-space: nowrap;
  font-size: 13px;
}

.table tbody tr:hover {
  background: #f8fbff;
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-top: 25px;
}

.pageBtn {
  padding: 10px 20px;
  background: #d3dce6;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.pageBtn:hover {
  background: #c4ccd6;
}

/* Responsive */
@media (max-width: 600px) {
  .wrapper {
    padding: 20px 10px;
  }

  .title {
    font-size: 20px;
  }

  .pagination {
    flex-direction: column;
    gap: 10px;
  }

  .pageBtn {
    width: 120px;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.refreshBtn {
  background:rgb(228, 101, 55);
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

.refreshBtn:hover {
  background: orangered;
}
