.wrapper {
  width: 100%;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 26px;
  font-weight: 600;
  color: #222;
}

.refreshBtn {
  background-color: #ffb74d;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.refreshBtn:hover {
  background-color: #ffa726;
}

.tableWrapper {
  background: white;
  padding: 1rem 0;
  border-radius: 12px;
  /* box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 20px; */
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.table thead tr {
  background: #f5f5f5;
}

.table th {
  text-align: left;
  padding: 14px 20px;
  font-weight: 600;
  font-size: 14px;
  color: #555;
  border-bottom: 1px solid #ddd;
}

.table td {
  padding: 14px 20px;
  border-bottom: 1px solid #eee;
  color: #333;
  font-size: 15px;
}

.table tr:hover {
  background-color: #fafafa;
}

/* Pagination */
.pagination {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.pageBtn {
  padding: 10px 26px;
  background: #e5e9f2;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  color: #333;
  font-weight: 500;
}

.pageBtn:hover {
  background: #d4d8e0;
}

.loading,
.error,
.noData {
  text-align: center;
  font-size: 18px;
  padding: 2rem;
}
