/* Main Wrapper */
.wrapper {
  padding: 40px 20px;
  font-family: "Poppins", sans-serif;
}

/* Title */
.title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

/* Table wrapper for responsive scroll */
.tableWrapper {
  width: 100%;
  overflow-x: auto;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px; /* ensures mobile scroll */
}

.table thead tr {
  background: #f5f7fa;
  color: #333;
  font-weight: 600;
}

.table th,
.table td {
  padding: 16px 20px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 13px;
  white-space: nowrap;
}

.table tbody tr:hover {
  background: #f8fbff;
}

/* No Data Text */
.noData {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #777;
}

.loading {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

/* Pagination */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-top: 25px;
}

.pageBtn {
  padding: 10px 20px;
  background: #d3dce6;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.pageBtn:hover {
  background: #c4ccd6;
}

/* Responsive */
@media (max-width: 1024px) {
  .title {
    font-size: 22px;
  }
  .table th,
  .table td {
    padding: 12px 15px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    padding: 20px 10px;
  }
  .title {
    font-size: 20px;
  }
  .pagination {
    flex-direction: column;
    gap: 10px;
  }
  .pageBtn {
    width: 120px;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.refreshBtn {
  background:rgb(228, 101, 55);
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

.refreshBtn:hover {
  background: orangered;
}
.showBtn {
  padding: 6px 12px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.showBtn:hover {
  background: #0056b3;
}

/* Modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 25px;
  width: 450px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 8px;
}

.closeBtn {
  background: red;
  color: #fff;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
}
